@import "tailwindcss";

@theme {
  --color-primary: #e5e5e0;
  --color-DarkLava: #393632;
  --color-SageGray: #8b8b73;
  --color-gold: #cfa355;
 
  /* Fontes Amiamie */
  --font-normal: "Amiamie", sans-serif;
  --font-italic: "Amiamie", sans-serif;
  --font-light: "Amiamie", sans-serif;
  --font-light-italic: "Amiamie", sans-serif;
  --font-black: "Amiamie", sans-serif;
  --font-black-italic: "Amiamie", sans-serif;

  /* Fontes Amiamie Round */
  --font-round: "Amiamie-Round", sans-serif;
  --font-round-black: "Amiamie-Round", sans-serif;
  --font-round-black-italic: "Amiamie-Round", sans-serif;


  --animate-marquee: marquee 40s infinite linear;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

body {
  background: #e5e5e0;
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--font-amiamie);
}

@utility clip-path {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

@utility banner-text-responsive {
  @apply text-[60px] sm:text-[98px] md:text-[118px] lg:text-[136px] leading-14 sm:leading-20 lg:leading-28;
}

@utility value-text-responsive {
  @apply text-[18px] md:text-[22px] lg:text-[24px];
}

@utility marquee-text-responsive {
  @apply text-[28px] sm:text-[36px] lg:text-[42px];
}

@utility contact-text-responsive {
  @apply text-[42px] sm:text-[52px] md:text-[62px] lg:text-[90px];
}

.navbar-initial {
  transform: translateX(100%);
  opacity: 0;
}
